= form_for @user do |f|
  - if @user.errors.any?
    .alert.alert-error
      %ul
        - for message in @user.errors.full_messages
          %li= message

  .row-fluid
    .span4
      %p
        = f.label :email
        = f.email_field :email
      %p
        = f.label :password
        - unless @user.new_record?
          = f.label :leave_blank_to_keep_the_same_password
        = f.password_field :password
      %p
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      - if current_user.nil?
        = f.hidden_field :role, :value => 'client'
        = f.hidden_field :detail, :value => 'customer'
      - elsif current_user.role == 'admin'
        %p
          = f.label :role
          = f.collection_select :role, User::ROLES, :to_s, :humanize
          = f.label :detail
          = f.collection_select :detail, User::DETAIL, :to_s, :humanize
      - else
        = f.hidden_field :role, :value => @user.role
      %p
        - if @user.new_record?
          = submit_tag "Create User", :class => "btn btn-info"
        - else
          = submit_tag "Update User", :class => "btn btn-info"
    .span8
      %p
        = f.label :first_name, :class => 'label_inline_block'
        = f.label :last_name, :class => 'label_inline_block'
        %br
        = f.text_field :fname
        = f.text_field :lname
      %p
        = f.label :phone
        = f.telephone_field :phone
      %p
        = f.label :street_address_1
        = f.text_field :street1
        = f.label :street_address_2
        = f.text_field :street2
        %br
        = f.label :city, :class => 'label_inline_block'
        = f.label :state_or_providence , :class => 'label_inline_block'
        %br
        = f.text_field :city
        = f.text_field :state
        = f.label :zip_code_or_postal_code
        = f.text_field :postcode
