%nav.view_nav.pull-right
  =link_to "view: list", parties_list_path

%h1
  Party Calendar
  %span{:class => "#{destination.downcase.gsub(/\s+/,'')}" }
    = destination

= link_to 'Reserve Your Party', new_event_path, :class => 'btn btn-info'
%br
%br
#events
  #month
    = link_to date: @date.prev_month do
      %i.icon-circle-arrow-left
    = @date.strftime("%B %Y")
    = link_to date: @date.next_month do
      %i.icon-circle-arrow-right

  = calendar @date do |date|
    = date.day
    - if @events_by_date[date.to_s]
      %ul
        - @events_by_date[date.to_s].each do |event|
          - if event.location == destination
            %li= link_to "#{event.name} (#{event.date.strftime('%-1I:%M %p')})", event
%br
= link_to 'Reserve Your Party', new_event_path, :class => 'btn btn-info'
