%p#notice= notice

%p
  %b Event name:
  = @event.name

%p
  %b Location:
  %span{:class => "#{@event.location.downcase.gsub(/\s+/,'')}" }
    = @event.location

%p
  %b Event date:
  = @event.date

%p
  %b Participants
  = @event.participants

%p
  %b Host
  = @event.user.fname

= link_to 'Update', edit_event_path(@event), :class => "btn btn-info"
%br
- if @event.event_type == 'Party' && current_user.role != 'client'
  %h3 Shifts
  
  %table#shifts.table.table-striped.table-bordered
    %tr
      %th Name
      %th
    - @shifts.each do |shift|
      %tr
      %td= shift.event.name
      %td= shift.event.date.strftime("%a %b %d, %Y")
      - if shift.user_id?
        %td= shift.user.fname
      - else
        %td open
      - if shift.drop && shift.user_id == current_user.id
        %td Shift Dropped Pending
      - elsif shift.drop || shift.user_id.nil?
        %td= link_to 'Take Shift', shift, method: :put, data: { confirm: 'Are you sure you wish to take this shift? You will immediately be responsible for it. This cannot be undone.' }, :class => 'btn btn-success btn-small'
      - elsif current_user.id == shift.user_id
        %td= link_to 'Drop Shift', shift, method: :put, data: { confirm: 'You may dropped this shift, but unless someone else takes it, you are still responsible for it.' }, :class => 'btn btn-danger btn-small'
      - else
        %td covered
      - unless current_user.nil?
        - if current_user.role == 'admin'
          %td= link_to 'Delete', @shift, method: :delete, data: { confirm: 'Are you sure?' } 
- if @event.event_type != 'Party'
  %h3 Class Seats
  = render 'seats/list'
    

= link_to 'Back', reservations_path
